.dropdown-toggle::after {
    display:none;
}
@media only screen and (min-width: 1200px) {
    .form-inline {
      padding-left: 25em;
    }
  }

#sign_in{
    padding-left: 5em;


}

#proposal{
    padding-left: 10em;

}



.submissionfield { width: 90px; height: 390px; border: 1px solid #999999; padding: 5px; }

#edit{
  text-align: center;


}

.col-centered{
  float: none;
  margin: 0 auto;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 115px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 115px;
  background-color: #6c92dd;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px 20px;
  border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  
  color: white;
}

.fa-twitter {

  color: white;
}

.fa-linkedin {
  
  color: white;
}

.fa-youtube {
  
  color: white;
}