{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <div class="col-lg-12" style="margin-top:5em">

            <h1>{{ prop.title }}</h1>

            <div class="col-lg-12">
                <p><b>Deadline: </b>{{ prop.deadline }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Text of Call: </b>{{ prop.text }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Target Audience: </b>{{ prop.audience }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Eligibility Criteria: </b>{{ prop.eligibility }}</p>
            </div>

            <div class=" col-lg-12">
                <p><b>Duration: </b>{{ prop.duration }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Reporting Guidelines: </b>{{ prop.guidelines }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Time Frame: </b>{{ prop.timeframe }}</p>
            </div>
    </div>

     <div class="form-row justify-content-center ">

            <h1>{{ sub.title }}</h1>

            <div class="col-lg-12">
                <p><b>Duration: </b>{{ sub.duration }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>NRP: </b>{{ sub.NRP }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Legal: </b>{{ sub.legal }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Ethical Animal: </b>{{ sub.ethicalAnimal }}</p>
            </div>

            <div class=" col-lg-12">
                <p><b>Ethical Human: </b>{{ sub.ethicalHuman }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Location: </b>{{ sub.location }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Co-Applicants: </b>{{ sub.coapplicants }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Collaborators: </b>{{ sub.collaborators }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Scientific Abstract: </b>{{ sub.scientific }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Lay Abstract: </b>{{ sub.lay }}</p>
            </div>
    </div>

    <div class="form-row justify-content-center ">
    <form action = "" enctype="multipart/form-data" method = "post" class="justify-content-center col-lg-6" style="background-color:white ; border:5px ; padding: 10px; margin-top:10em; border-radius: 10px;" >

        {{ form.hidden_tag() }}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
                    {% for message in messages %}
 	<li>{{ message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}



      <div class="form-group col-lg-12">

          {{ render_field(form.ORCID,class="col-lg-6") }}

      </div>


          <div class="form-group col-lg-4">{{ form.submit }}</div>

          <div class="form-group col-lg-4">
              {{ form.complete }}
          </div>


  </form>
</div>
{% endblock %}