{% extends "profile.html" %}
{% block form %}

     
          {% from "_formhelpers.html" import render_field %}
     
<div class="container">
     
     
        <div class="row justify-content-center ">
         
        <div class="row  justify-content-center">
        <div class=" col-12 justify-content-center accordion" id="accordionExample">
                    <div id="headingOne" style="padding:1em;">
                        
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Edit General Info
                        </button>
                        
                    </div>
                
                    <div id="collapseOne" class="collapse  aria-labelledby="headingOne" data-parent="#accordionExample">
                            <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
        
                                    {{form1.hidden_tag()}}
                             
                                        <div class="form-group col-lg-12 ">
                                            {{render_field(form1.first_name, value= current_user.first_name,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form1.last_name,value=current_user.last_name, class="col-lg-12")}}
                                        </div>
                            
                                        <div class="form-group col-lg-12">
                                            {{render_field(form1.email,value= current_user.email,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form1.job,value =current_user.job,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form1.prefix,value =current_user.prefix,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form1.suffix,value =current_user.suffix,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form1.phone,value =current_user.phone,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form1.phone_extension,value =current_user.phone_extension,class="col-lg-12")}}
                                        </div>
                                        
                                        <div class="form-group col-lg-12 " id="edit">
                                                {{ form1.submit }}
                                        </div>
                                    
                            </form>
                    </div>

                    <div id="headingTwo" style="padding:1em;">
                        
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Edit Education Info
                        </button>
                        
                    </div>
                
                    <div id="collapseTwo" class="collapse  aria-labelledby="headingOne" data-parent="#accordionExample">
                        {% for i in user.education %}
                            <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
                                
                                    {{form2.hidden_tag()}}
                                            <div class="form-group col-lg-12 " style='display:none'>
                                                {{render_field(form2.id, value= i.id,class="col-lg-12")}}
                                         </div>
                                        <div class="form-group col-lg-12 ">
                                            {{render_field(form2.degree, value= i.degree,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form2.institution,value=i.institution, class="col-lg-12")}}
                                        </div>
                            
                                        <div class="form-group col-lg-12">
                                            {{render_field(form2.location,value= i.location,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form2.year,value =i.year,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form2.field,value =i.field,class="col-lg-12")}}
                                        </div>
                                       
                                        
                                        <div class="form-group col-lg-6 " id="edit edu">
                                            {{ form2.submit_edu}}
                                        </div>
                                        <div class="form-group col-lg-6 " id="edit edu">
                                            {{ form2.remove_edu}}
                                        </div>
                                        
                            </form>
                        {% endfor %}
                    </div>
                    <div id="headingThree" style="padding:1em;">
                        
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Edit Societies Info
                        </button>
                        
                    </div>
                
                    <div id="collapseThree" class="collapse  aria-labelledby="headingThree" data-parent="#accordionExample">
                        {% for j in user.societies %}
                            <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
                                
                                    {{form3.hidden_tag()}}
                                            <div class="form-group col-lg-12 " style='display:none;'>
                                                {{render_field(form3.id, value= j.id,class="col-lg-12")}}
                                         </div>
                                         
                                        <div class="form-group col-lg-12 ">
                                            {{render_field(form3.start_date, value= j.start_date,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form3.end_date,value=j.end_date, class="col-lg-12")}}
                                        </div>
                            
                                        <div class="form-group col-lg-12">
                                            {{render_field(form3.society,value= j.society,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form3.membership,value =j.membership,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form3.status,value =j.status,class="col-lg-12")}}
                                        </div>
                                       
                                        
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form3.submit_soc}}
                                        </div>
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form3.remove_soc}}
                                        </div>
                                    
                            </form>
                        {% endfor %}
                    </div>
                    
                    <div id="headingFour" style="padding:1em;">
                        
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Edit Employment Info
                        </button>
                        
                    </div>
                
                    <div id="collapseFour" class="collapse  aria-labelledby="headingFour" data-parent="#accordionExample">
                        {% for j in user.employment %}
                            <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
                                
                                    {{form4.hidden_tag()}}
                                            <div class="form-group col-lg-12 " style='display:none;'>
                                             {{render_field(form4.id, value= j.id,class="col-lg-12")}}
                                         </div>
                                         
                                        <div class="form-group col-lg-12 ">
                                            {{render_field(form4.company, value= j.company,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form4.location,value=j.location, class="col-lg-12")}}
                                        </div>
                            
                                        <div class="form-group col-lg-12">
                                            {{render_field(form4.years,value= j.years,class="col-lg-12")}}
                                        </div>
                                       
                                
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form4.submit_emp}}
                                        </div>
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form4.remove_emp}}
                                        </div>
                                    
                            </form>
                        {% endfor %}
                    </div>


                    <div id="headingFive" style="padding:1em;">
                        
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            Edit Awards Info
                        </button>
                        
                    </div>
                
                    <div id="collapseFive" class="collapse  aria-labelledby="headingFive" data-parent="#accordionExample">
                        {% for j in user.awards %}
                            <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
                                
                                    {{form5.hidden_tag()}}
                                            <div class="form-group col-lg-12 " style='display:none;'>
                                                {{render_field(form5.id, value= j.id,class="col-lg-12")}}
                                         </div>
                                         
                                        <div class="form-group col-lg-12 ">
                                            {{render_field(form5.year, value= j.year,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form5.award_body,value=j.award_body, class="col-lg-12")}}
                                        </div>
                            
                                        <div class="form-group col-lg-12">
                                            {{render_field(form5.details,value= j.details,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form5.team_member, value= j.team_member,class="col-lg-12")}}
                                        </div>
                                       
                                
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form5.submit_awrd}}
                                        </div>
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form5.remove_awrd}}
                                        </div>
                                    
                            </form>
                        {% endfor %}
                    </div>

                    <div id="headingSix" style="padding-left:5em;">
                        
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                            Edit Funding
                        </button>
                        
                    </div>
                
                    <div id="collapseSix" class="collapse  aria-labelledby="headingSix" data-parent="#accordionExample">
                        
                        {% for i in user.funding %}

                            <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
                                
                                    {{form6.hidden_tag()}}
                                            <div class="form-group col-lg-12 " style='display:none;'>
                                                {{render_field(form6.id, value= i.ID,class="col-lg-12")}}
                                         </div>
                                         
                                        <div class="form-group col-lg-12 ">
                                            {{render_field(form6.start_date, value= i.StartDate,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form6.end_date, value=i.EndDate, class="col-lg-12")}}
                                        </div>
                            
                                        <div class="form-group col-lg-12">
                                            {{render_field(form6.amount_funding, value= i.AmountFunding,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form6.funding_body, value= i.FundingBody,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form6.funding_programme, value= i.FundingProgramme,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form6.stats, value= i.Stats,class="col-lg-12")}}
                                        </div>
                                        <div class="form-group col-lg-12">
                                            {{render_field(form6.primary_attribution, value= i.PrimaryAttribution,class="col-lg-12")}}
                                        </div>
                                       
                                
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form6.submit_fund}}
                                        </div>
                                        <div class="form-group col-lg-6 " id="edit soc">
                                            {{ form6.remove_fund}}
                                        </div>
                                    
                            </form>
                        {% endfor %}
                    </div>
                

                <div id="headingSeven" style="padding:1em;">
                        
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            Edit Organised Events Info
                 </button>
        
                 </div>

    <div id="collapseSeven" class="collapse  aria-labelledby="headingSeven" data-parent="#accordionExample">
        {% for j in user.organised_events %}
            <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
                
                    {{form7.hidden_tag()}}
                            <div class="form-group col-lg-12 " style='display:none;'>
                                {{render_field(form7.id, value= j.id,class="col-lg-12")}}
                         </div>
                         
                        <div class="form-group col-lg-12 ">
                            {{render_field(form7.start_date, value= j.start_date,class="col-lg-12")}}
                        </div>
                        <div class="form-group col-lg-12">
                            {{render_field(form7.end_date,value=j.end_date, class="col-lg-12")}}
                        </div>
            
                        <div class="form-group col-lg-12">
                            {{render_field(form7.title,value= j.title,class="col-lg-12")}}
                        </div>
                        <div class="form-group col-lg-12">
                            {{render_field(form7.type, value= j.type,class="col-lg-12")}}
                        </div>
                        <div class="form-group col-lg-12">
                                {{render_field(form7.role,value=j.role, class="col-lg-12")}}
                            </div>
                
                            <div class="form-group col-lg-12">
                                {{render_field(form7.location,value= j.location,class="col-lg-12")}}
                            </div>
                            <div class="form-group col-lg-12">
                                {{render_field(form7.primary_attribution, value= j.primary_attribution,class="col-lg-12")}}
                            </div>
                           
                       
                
                        <div class="form-group col-lg-6 " id="edit soc">
                            {{ form7.submit_org}}
                        </div>
                        <div class="form-group col-lg-6 " id="edit soc">
                            {{ form7.remove_org}}
                        </div>
                    
            </form>
        {% endfor %}
    </div>

    <div id="headingEight" style="padding:1em;">
                        
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
        Edit Publications Info
             </button>
    
             </div>

<div id="collapseEight" class="collapse  aria-labelledby="headingEight" data-parent="#accordionExample">
    {% for j in user.publications %}
        <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
            
                {{form8.hidden_tag()}}
                        <div class="form-group col-lg-12 " style='display:none;'>
                            {{render_field(form8.id, value= j.id,class="col-lg-12")}}
                     </div>
                     
                    <div class="form-group col-lg-12 ">
                        {{render_field(form8.year, value= j.year ,class="col-lg-12")}}
                    </div>
                    <div class="form-group col-lg-12">
                        {{render_field(form8.type,value=j.type, class="col-lg-12")}}
                    </div>
        
                    <div class="form-group col-lg-12">
                        {{render_field(form8.title,value= j.title,class="col-lg-12")}}
                    </div>
                    <div class="form-group col-lg-12">
                        {{render_field(form8.name, value= j.name,class="col-lg-12")}}
                    </div>
                    <div class="form-group col-lg-12">
                            {{render_field(form8.status,value=j.status, class="col-lg-12")}}
                        </div>
            
                        <div class="form-group col-lg-12">
                            {{render_field(form8.doi,value= j.doi,class="col-lg-12")}}
                        </div>

                        <div class="form-group col-lg-12">
                            {{render_field(form8.primary_attribution, value= j.primary_attribution,class="col-lg-12")}}
                        </div>
                       
                   
            
                    <div class="form-group col-lg-6 " id="edit soc">
                        {{ form8.submit_pub}}
                    </div>
                    <div class="form-group col-lg-6 " id="edit soc">
                        {{ form8.remove_pub}}
                    </div>
                
        </form>
    {% endfor %}
</div>


<div id="headingNine" style="padding:1em;">
                        
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
    Edit Impacts Info
         </button>

         </div>

<div id="collapseNine" class="collapse  aria-labelledby="headingNine" data-parent="#accordionExample">
{% for j in user.impacts %}
    <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
        
            {{form9.hidden_tag()}}
                    <div class="form-group col-lg-12 " style='display:none;'>
                        {{render_field(form9.id, value= j.id,class="col-lg-12")}}
                 </div>
                 
                <div class="form-group col-lg-12 ">
                    {{render_field(form9.title, value= j.title ,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form9.category,value=j.category, class="col-lg-12")}}
                </div>
    
                <div class="form-group col-lg-12">
                    {{render_field(form9.primary_beneficiary ,value= j.primary_beneficiary ,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form9.primary_attribution, value= j.primary_attribution,class="col-lg-12")}}
                </div>
               
                  
                    <div class="form-group col-lg-12">
                        {{render_field(form9.primary_attribution, value= j.primary_attribution,class="col-lg-12")}}
                    </div>
                   
               
        
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form9.submit_imp}}
                </div>
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form9.remove_imp}}
                </div>
            
    </form>
{% endfor %}
</div>


<div id="headingTen" style="padding:1em;">
                        
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
    Edit Education and Public Engagement Info
         </button>

         </div>

<div id="collapseTen" class="collapse  aria-labelledby="headingTen" data-parent="#accordionExample">
{% for j in user.edu_and_public_engagements %}
    <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
        
            {{form10.hidden_tag()}}
                    <div class="form-group col-lg-12 " style='display:none;'>
                        {{render_field(form10.id, value= j.id,class="col-lg-12")}}
                 </div>
                 
                <div class="form-group col-lg-12 ">
                    {{render_field(form10.name, value= j.name ,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form10.start_date,value=j.start_date, class="col-lg-12")}}
                </div>
    
                <div class="form-group col-lg-12">
                    {{render_field(form10.end_date ,value= j.end_date ,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form10.activity, value= j.activity,class="col-lg-12")}}
                </div>
               
                    </div>
                    <div class="form-group col-lg-12">
                        {{render_field(form10.topic, value= j.topic,class="col-lg-12")}}
                    </div>
                   
                    <div class="form-group col-lg-12">
                            {{render_field(form10.target_area, value= j.target_area,class="col-lg-12")}}
                        </div>
                       
                            <div class="form-group col-lg-12">
                                {{render_field(form10.primary_attribution, value= j.primary_attribution,class="col-lg-12")}}
                            </div>
               
        
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form10.submit_edup}}
                </div>
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form10.remove_edup}}
                </div>
            
    </form>
{% endfor %}
</div>

<div id="heading11" style="padding:1em;">
                        
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
    Edit Presentations
         </button>

         </div>

<div id="collapse11" class="collapse  aria-labelledby="heading11" data-parent="#accordionExample">
{% for j in user.presentations %}
    <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
        
            {{form11.hidden_tag()}}
                    <div class="form-group col-lg-12 " style='display:none;'>
                        {{render_field(form11.id, value= j.id,class="col-lg-12")}}
                 </div>
                 
                <div class="form-group col-lg-12 ">
                    {{render_field(form11.title, value= j.title,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form11.type,value=j.type, class="col-lg-12")}}
                </div>
    
                <div class="form-group col-lg-12">
                    {{render_field(form11.conference ,value= j.conference ,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form11.invited_seminar, value= j.invited_seminar,class="col-lg-12")}}
                </div>
               
                    
                    <div class="form-group col-lg-12">
                        {{render_field(form11.keynote, value= j.keynote,class="col-lg-12")}}
                    </div>
                   
                    <div class="form-group col-lg-12">
                            {{render_field(form11.organising_body, value= j.organising_body,class="col-lg-12")}}
                        </div>
                       
                            
                            <div class="form-group col-lg-12">
                                {{render_field(form11.location, value= j.location,class="col-lg-12")}}
                            </div>
               
        
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form11.submit_pres}}
                </div>
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form11.remove_pres}}
                </div>
            
    </form>
{% endfor %}
</div>

<div id="heading12" style="padding:1em;">
                        
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
    Edit Collaborations
         </button>

         </div>

<div id="collapse12" class="collapse  aria-labelledby="heading12" data-parent="#accordionExample">
{% for j in user.collaboration %}
    <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
        
            {{form12.hidden_tag()}}
                    <div class="form-group col-lg-12 " style='display:none;'>
                        {{render_field(form12.id, value= j.id,class="col-lg-12")}}
                 </div>
                 
                <div class="form-group col-lg-12 ">
                    {{render_field(form12.start_date, value= j.start_date,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form12.end_date,value=j.end_date, class="col-lg-12")}}
                </div>
    
                <div class="form-group col-lg-12">
                    {{render_field(form12.department ,value= j.department ,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form12.location, value= j.location,class="col-lg-12")}}
                </div>
               
                    
                    <div class="form-group col-lg-12">
                        {{render_field(form12.name_collaborator, value= j.name_collaborator,class="col-lg-12")}}
                    </div>
                   
                    <div class="form-group col-lg-12">
                            {{render_field(form12.primary_goal, value= j.primary_goal,class="col-lg-12")}}
                        </div>
                       
                            
                            <div class="form-group col-lg-12">
                                {{render_field(form12.frequency_of_interaction, value= j.frequency_of_interaction,class="col-lg-12")}}
                            </div>
                            <div class="form-group col-lg-12">
                                    {{render_field(form12.primary_attribution, value= j.primary_attribution,class="col-lg-12")}}
                                </div>
                               
                                    
                                    <div class="form-group col-lg-12">
                                        {{render_field(form12.academic, value= j.academic,class="col-lg-12")}}
                                    </div>



        
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form12.submit_collab}}
                </div>
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form12.remove_collab}}
                </div>
            
    </form>
{% endfor %}
</div>


<div id="heading13" style="padding:1em;">
                        
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
    Edit Innovations
         </button>

         </div>

<div id="collapse13" class="collapse  aria-labelledby="heading13" data-parent="#accordionExample">
{% for j in user.innovations %}
    <form class="Justify-content-center col-lg-12 " method="POST" style="background-color:white ; border:5px ; padding-top:5px;border-radius: 10px;">
        
            {{form13.hidden_tag()}}
                    <div class="form-group col-lg-12 " style='display:none;'>
                        {{render_field(form13.id, value= j.id,class="col-lg-12")}}
                 </div>
                 
                <div class="form-group col-lg-12 ">
                    {{render_field(form13.year, value= j.year,class="col-lg-12")}}
                </div>
                <div class="form-group col-lg-12">
                    {{render_field(form13.type,value=j.type, class="col-lg-12")}}
                </div>
    
                
                            <div class="form-group col-lg-12">
                                    {{render_field(form13.title, value= j.title,class="col-lg-12")}}
                                </div>
                               
                                    
                                    <div class="form-group col-lg-12">
                                        {{render_field(form13.primary_attribution, value= j.primary_attribution,class="col-lg-12")}}
                                    </div>



        
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form12.submit_inn}}
                </div>
                <div class="form-group col-lg-6 " id="edit soc">
                    {{ form12.remove_inn}}
                </div>
            
    </form>
{% endfor %}
</div>


</div>
</div>
</div>

     
     {% endblock form %}

