{% extends "profile.html" %}
{% block form %}

     {% from "_formhelpers.html" import render_field %}

<div class="row justify-content-center">
  <form class="Justify-content-center col-lg-6" method="POST" style="background-color:white ; border:5px ; padding: 10px; margin-top:10em; border-radius: 10px;">

      <div class="form-row" id="education">
      {{form.hidden_tag()}}

          <div class="form-group col-lg-12 ">
              {{render_field(form.degree, value= data[2],class="col-lg-12")}}
          </div>

          <div class="form-group col-lg-12">
              {{render_field(form.institution,  value= data[4],class="col-lg-12")}}
          </div>

          <div class="form-group col-lg-12">
              {{render_field(form.location,value= data[5],class="col-lg-12")}}
          </div>

          <div class="form-group col-lg-12">
              {{render_field(form.year,value= data[6],class="col-lg-12")}}
          </div>

      

      </div>


      <div class="form-group col-lg-12 " id="edit">
        {{ form.submit }}
    </div>
  </form>
        

</div>



{% endblock form %}