
{% extends "layout.html" %}
{% block content %}

    
     <!-- SlideShow -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" data-interval="500">
              <div class="carousel-item active">
                  <img src="{{url_for('static', filename='pic1.png')}}" class="d-block w-100"  >
              </div>
              <div class="carousel-item" data-interval="500">
                <img src="{{url_for('static', filename='pic3.png')}}" class="d-block w-100" >
              </div>
              <div class="carousel-item" data-interval="500">
                <img src="{{url_for('static', filename='pic2.jpg')}}" class="d-block w-100">
              </div>
            </div>
          </div>
    
      <div class="container" style="margin-top: 50px;">  
        <div class="row justify-content-center" >
            <div class="col-6" style="background-color:white  ; border:5px ; padding: 10px; border-radius: 10px ;">

               
                <p>
                Sed et nulla nec nisl rhoncus aliquam. Donec vitae lorem eu nulla scelerisque congue. Aliquam eget tincidunt ex. Donec quis risus quis nulla vulputate viverra in sit amet augue. Quisque quis feugiat libero. Nulla consequat massa vel mauris sodales cursus. Vivamus nulla dolor, imperdiet in metus vitae, luctus fringilla lorem. Donec porttitor viverra augue, vitae venenatis ex varius porttitor. Etiam quis porta metus. Etiam molestie ex et sodales mattis. Cras efficitur eleifend ipsum, vel sagittis quam. Praesent vel lobortis tortor, in interdum neque. Integer euismod pretium eros, non molestie leo volutpat eu. Aenean tempor eu ligula et blandit. Cras tempus mi nec diam tincidunt, ut molestie neque efficitur.
                </p>
                <p>
                Pellentesq  ue eget nibh tincidunt, lobortis elit eu, fermentum eros. Pellentesque vehicula quis nisl non rutrum. Praesent sagittis nisi nunc, sed pulvinar lectus sollicitudin in. Curabitur ornare nunc id tempus mollis. Nunc finibus, lectus non fermentum consectetur, ipsum est ullamcorper justo, ac mollis ligula nibh eget est. Curabitur vitae venenatis sapien, id fermentum quam. Sed mattis, dui quis ultrices dignissim, eros ipsum feugiat dolor, non lobortis nunc dolor vitae mi. Sed ornare arcu urna, quis aliquet metus auctor in. Praesent tincidunt gravida dolor.
                </p>
                <p>
                Sed commodo nisl eget justo porta, ut lacinia tortor pharetra. Vivamus blandit leo est, nec faucibus eros suscipit eget. Sed rutrum neque ac sodales cursus. Maecenas at nunc erat. Praesent dignissim mattis arcu a suscipit. Donec aliquam lacus tellus, a pretium diam ullamcorper ac. Suspendisse potenti. Vestibulum aliquam sapien a malesuada faucibus.
                </p>
                
                <p>
                Pellentesq  ue eget nibh tincidunt, lobortis elit eu, fermentum eros. Pellentesque vehicula quis nisl non rutrum. Praesent sagittis nisi nunc, sed pulvinar lectus sollicitudin in. Curabitur ornare nunc id tempus mollis. Nunc finibus, lectus non fermentum consectetur, ipsum est ullamcorper justo, ac mollis ligula nibh eget est. Curabitur vitae venenatis sapien, id fermentum quam. Sed mattis, dui quis ultrices dignissim, eros ipsum feugiat dolor, non lobortis nunc dolor vitae mi. Sed ornare arcu urna, quis aliquet metus auctor in. Praesent tincidunt gravida dolor.
                </p>
                <p>
                Sed commodo nisl eget justo porta, ut lacinia tortor pharetra. Vivamus blandit leo est, nec faucibus eros suscipit eget. Sed rutrum neque ac sodales cursus. Maecenas at nunc erat. Praesent dignissim mattis arcu a suscipit. Donec aliquam lacus tellus, a pretium diam ullamcorper ac. Suspendisse potenti. Vestibulum aliquam sapien a malesuada faucibus.
                </p>
            </div>
            

        </div>


        
        

                <div id="signUp" class="collapse">
                      <form class="Justify-content-center" style="padding-top: 1em">

                            <div class="form-row">

                                  <div class="form-group col-lg-12">
                                      <label for="inputFirstName">First Name</label>
                                      <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                  </div>

                                  <div class="form-group col-lg-12">
                                      <label for="inputLastName">Last Name</label>
                                      <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                                  </div>

                                  <div class="form-group col-lg-12">
                                      <label for="ORCID">ORCID</label>
                                      <input type="text" class="form-control" id="inputORCID" placeholder="ORCID">
                                  </div>

                                  <div class="form-group col-lg-12">
                                      <label for="Email">Email</label>
                                      <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                  </div>
                            </div>
                      </form>

                      <div class="row justify-content-center" >
                          <div class="col-lg-12" >
                            <button type="submit" class="btn btn-primary">Sign In</button>
                          </div>
                      </div>

              </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
