<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Home</title>
  </head>
  <body style="background-color:#f2f2f2 ; width:100% !important;">
      <script text="text/javascript" src="{{url_for('static', filename='particles.js')}}"></script>
      <script text="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   
   
   
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:#6c92dd ;">
        
        <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='sfi-logo.svg')}}"/></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{{url_for('static', filename='profileIcon2.svg')}}" width="50" height="50"/>
            </button>
           

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="nav-item  d-block d-xs-block d-lg-none">
                    <a class="nav-link " href="/sign_in" >Sign In</a>
                </li>
                {% endif %}

                {% if not current_user.type == "admin" %}
                <li class="nav-item">
                    <a class="nav-link " href="/sign_up" >Sign Up</a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link " href="/dashboard" >Dashboard</a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated and current_user.type == "Researcher" %}
                 <li class="nav-item">
                    <a class="nav-link " href="/proposals" >Proposals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/profile" >Profile</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link " href="/logout" >Sign Out</a>
                </li>
                
                {% endif %}

              


                {% if current_user.is_authenticated and current_user.type == "admin" %}
                 <li class="nav-item">
                    <a class="nav-link " href="/proposal_call" >Create Proposal</a>
                </li>
                {% endif %}
                
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link " href="/sign_in" >Sign in</a>
                </li>
                {% endif %}
            </ul>
            <!---
            <form class="form-inline my-2 my-lg-0" style="">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" style="background-color:green" type="submit">Search</button>
                    
            </form>-->
            <ul class="navbar-nav mr-auto d-none d-lg-block d-xl-block  " style="padding-left: 25em;">
            <li class="nav-item dropdown float-right" >
                    <a class="nav-link dropdown-toggle "   href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class='d-none d-lg-block d-xl-block 'src="{{url_for('static', filename='profileIcon2.svg')}}" width="50" height="50" />
                    </a>
                    {% if not current_user.is_authenticated %}
                    <div class="dropdown-menu" ">
                      <a class="dropdown-item" href="/sign_in">Sign In</a>
                    </div>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                    <div class="dropdown-menu" >
                      <a class="dropdown-item" href="/profile">Profile</a>
                      <a class="dropdown-item" href="/logout">Sign Out</a>
                    </div>
                    {% endif %}
                    

                  </li>
            </ul>
            
        </div>
    </nav>
    <br>
    <br>
    <br>
 
    
    <div class="footer">
        <a href="https://www.facebook.com/ScienceFoundationIreland/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/scienceirel?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
        <a href="https://ie.linkedin.com/company/science-foundation-ireland" class="fa fa-linkedin"></a>
        <a href="https://www.youtube.com/ScienceFoundationIreland" class="fa fa-youtube"></a>
        
        <p>Science Foundation Ireland 2019. All rights reserved.</p>
    </div>
   
    {% block content %}
   
    {% endblock %}
    
  </body>
</html>

