
{% extends "layout.html" %}
{% block content %} 
        {% from "_formhelpers.html" import render_field %}
    <div class="jumbotron" style="margin-bottom: 0; margin-top: 35px;">
        <div class="container">
            <img src="{{url_for('static', filename='profileIcon2.svg')}}" height="80" width="80"></img>
            <h1 class="display-5">{{ current_user.first_name }} {{ current_user.last_name}}</h1>
            <p class="lead">{{ current_user.job}}</p>
            <a href="/edit_info">Change details</a>
        </div>
    </div>
  

    <div class="row justify-content">
        <div class="col-3" style="margin-left:5em;">
            <div class="card" style="  width: 18em;">
               
                
                        <a href="/profile">General Infomation</a>
                        <a href="/educationInfo">Education Information</a>
                        <a href="/employmentInfo">Employment</a>
                        <a href="/societiesInfo"> Professional societies</a>
                        <a href="/awardsInfo"> Distinctions & Awards</a>
                        <a href ="/funding_info"> Funding Diversification</a>
                        <a >Team Members</a>
                        <a >Impacts</a>
                        <a>Innovation & Commercialisation</li>
                        <a >Publications</a>
                        <a>Presentations</a>
                        <a> Academic Collaborations</a>
                        <a> Non academic Collaborations</a>
                        <a> Conferences/Workshops/Seminars</a>
                        <a> Communications Overview</a>
                        <a> SFI Funding Ratio</a>
                        <a>Education & Public Engagement</a> 

             
            </div>
        </div>
        
        <div class="col-7 justify-content-center" style="background-color:white  ; border:5px ; ; border-radius: 10px ;" >
        <div class="row justify-content-center" style="background-color:white  ; border:5px ; border-radius: 10px ; padding-top:5px; padding-bottom:2em;" >
                
            {% block form %}
            <div class="card " style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">First Name: {{ current_user.first_name}}</li>
                        <li class="list-group-item">Last Name: {{ current_user.last_name}}</li>
                        <li class="list-group-item">Occupation: {{ current_user.job}}</li>
                        <li class="list-group-item">Prefix: {{ current_user.prefix}}</li>
                        <li class="list-group-item">Suffix: {{ current_user.suffix}}</li>
                        <li class="list-group-item">Phone Number: {{ current_user.phone}}</li>
                        <li class="list-group-item">Phone Extenstion: {{ current_user.phone_extension}}</li>
                        <li class="list-group-item">Email: {{ current_user.email}}</li>
                        <li class="list-group-item">ORCID: {{ current_user.orcid}}</li>
                    </ul>
                    
            </div>
            
            {% endblock %}
            
        </div>
        </div>
    </div>

{% endblock content%}




