{% extends "layout.html" %}
{% block content %}
    {% if projects|length == 0 %}
        <div class="row justify-content-center col-lg-12" style="margin-top:10em">
            <h2>You currently haveno approved submissions. You can check your submission status <a href="current_applications">here</a>.</h2>
        </div>
    {% endif %}
    <div class="row justify-content-center col-lg-12">
        {% for each in projects %}
            <div class="Justify-content-center col-lg-12 dropdown" style="background-color:white ; border:5px ; margin-top:5em; border-radius: 10px;">
            <button class="col-lg-9 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3>{{ each.title }}</h3>
            </button>


            <div class="dropdown-menu col-lg-12" aria-labelledby="dropdownMenuButton">
            <div class="col-lg-12"><p><b>Funding : </b>
                    {% if all_fundings %}
                        {% for funding in all_fundings %}
                            {% if funding.subid == each.subid %}
                                {{Updated}}
                            {% else %}
                                New
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        New
                    {% endif %}</p>
                <a href="funding?id={{each.subid}}"><button class="btn btn-primary" type="button">Manage Funding</button></a>
            </div>

            <div class="col-lg-12"><p><b>Team : </b>
                    {% if teams %}
                        {% for team in teams %}
                            {% if team.subid == each.subid %}
                                Added
                            {% else %}
                                New
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        New
                    {% endif %}</p>
                <a href="manage_team?id={{each.subid}}"><button class="btn btn-primary" type="button">Manage Team</button></a>
            </div>

            <div class="col-lg-12"><p><b>Scientific Reports : </b>
                    {% set sreports = [] %}
                    {% if scientific_reports %}
                        {% for sreport in scientific_reports %}
                            {% if sreport.subid == each.subid %}
                                {% if sreports.append(sreport) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}{{ sreports|length }} Submitted</p>
                <a href="scientific_reports?id={{each.subid}}"><button class="btn btn-primary" type="button">Manage Scientific Reports</button></a>
            </div>

            <div class="col-lg-12"><p><b>Financial Reports : </b>
                    {% set freports = [] %}
                    {% if financial_reports %}
                        {% for freport in financial_reports %}
                            {% if freport.subid == each.subid %}
                                {% if freports.append(freport) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}{{ freports|length }} Submitted</p>
                <a href="financial_reports?id={{each.subid}}"><button class="btn btn-primary" type="button">Manage Financial Reports</button></a>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}