{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-center">
  <form action = "{{ request.path }}" method = "post" class="Justify-content-center col-lg-6" style="background-color:white ; border:5px ; padding: 10px; margin-top:10em; border-radius: 10px;">
      <div class="form-row">

          <div class="form-group col-lg-12">
              {{form.start_date.label}}
              <br>
              {{form.start_date}}
              <br>
          </div>

          <div class="form-group col-lg-12">
              {{form.end_date.label}}
              <br>
              {{form.end_date}}
              <br>
          </div>

          <div class="form-group col-lg-12">
              {{form.funding_amount.label}}
              <br>
              {{form.funding_amount}}
              <br>
          </div>

          <div class="form-group col-lg-12">
              {{form.funding_body.label}}
              <br>
              {{form.funding_body}}
              <br>
          </div>

          <div class="form-group col-lg-12">
              {{form.funding_programme.label}}
              <br>
              {{form.funding_programme}}
              <br>
          </div>

          <div class="form-group col-lg-12">
              {{form.status.label}}
              <br>
              {{form.status}}
              <br>
          </div>

          <div class="form-group col-lg-12">
              {{form.primary_attribution.label}}
              <br>
              {{form.primary_attribution}}
              <br>
          </div>
          <div>
              {{ form.submit }}
          </div>

      </div>
  </form>


</div>

{% endblock content %}
