{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center col-lg-12">
        {% for post in posts %}
            <div class="Justify-content-center col-lg-12 dropdown" style="background-color:white ; border:5px ; margin-top:5em; border-radius: 10px;">
            <button class="col-lg-9 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3>{{ post.title }}</h3>
            </button>

                <a href="submissions?id={{ post.id }}"><button class="btn btn-primary" type="button">Apply</button></a>

            <div class="dropdown-menu col-lg-12" aria-labelledby="dropdownMenuButton">
            <div class="col-lg-12">
                <p><b>Deadline: </b>{{ post.Deadline }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Text of Call: </b>{{ post.TextOfCall }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Target Audience: </b>{{ post.TargetAudience }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Eligibility Criteria: </b>{{ post.EligibilityCriteria }}</p>
            </div>

            <div class=" col-lg-12">
                <p><b>Duration: </b>{{ post.Duration }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Reporting Guidelines: </b>{{ post.ReportingGuidelines }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Time Frame: </b>{{ post.TimeFrame }}</p>
            </div>
            </div>

          </div>
        {% endfor %}
    </div>

{% endblock content %}