{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center col-lg-12">
        {% for post in posts %}
            <div class="Justify-content-center col-lg-12 dropdown" style="background-color:white ; border:5px ; margin-top:5em; border-radius: 10px;">
            <button class="col-lg-9 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3>{{ post.title }}</h3>
            </button>
            <a href="external_review?file={{ post.file }}"><button class="btn btn-primary" type="button">Review</button></a>
        {% endfor %}
    </div>
{% endblock %}