{% extends "layout.html" %}
{% block content %}

<div class="row justify-content-center">
  <form class="Justify-content-center" method="POST" action="/sign_up" style="background-color:white ; border:5px ; padding: 10px; margin-top:10em; border-radius: 10px;">
    {{form.hidden_tag()}}
      <div class="form-row">

          <div class="form-group col-lg-12 ">
              {{form.first_name.label}}
              {{form.first_name}}
          </div>

          <div class="form-group col-lg-12">
              {{form.last_name.label}}
              {{form.last_name}}
          </div>

          <div class="form-group col-lg-12">
              {{form.orcid.label}}
              {{form.orcid}}
          </div>

          <div class="form-group col-lg-12">
              {{form.email.label}}
              {{form.email}}
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              {% endwith %}
          </div>

          <div class="form-group col-lg-12">
              {{form.password.label}}
              {{form.password}}
          </div>

          <div class="form-group col-lg-12">
              {{form.job.label}}
              {{form.job}}
          </div>

          <div class="form-group col-lg-12">
              {{form.prefix.label}}
              {{form.prefix}}
          </div>

          <div class="form-group col-lg-12">
              {{form.suffix.label}}
              {{form.suffix}}
          </div>

          <div class="form-group col-lg-12">
              {{form.phone.label}}
              {{form.phone}}
          </div>

          <div class="form-group col-lg-12">
              {{form.phone_extension.label}}
              {{form.phone_extension}}
          </div>

      </div>


      <div class="col-6" >
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
  </form>
        

</div>

{% endblock content %}