{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <div class="col-lg-12" style="margin-top:5em">

            <h1>{{ sub.title }}</h1>

            <div class="col-lg-12">
                <p><b>Deadline: </b>{{ sub.deadline }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Text of Call: </b>{{ sub.text }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Target Audience: </b>{{ sub.audience }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Eligibility Criteria: </b>{{ sub.eligibility }}</p>
            </div>

            <div class=" col-lg-12">
                <p><b>Duration: </b>{{ sub.duration }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Reporting Guidelines: </b>{{ sub.guidelines }}</p>
            </div>

            <div class="col-lg-12">
                <p><b>Time Frame: </b>{{ sub.timeframe }}</p>
            </div>
    </div>
    <div class="form-row justify-content-center ">
    <form action = "" enctype="multipart/form-data" method = "post" class="justify-content-center col-lg-6" style="background-color:white ; border:5px ; padding: 10px; margin-top:10em; border-radius: 10px;" >
    
        {{ form.hidden_tag() }}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
                    {% for message in messages %}
  <li>{{ message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}




      <div class="form-group col-lg-12">

          {{ render_field(form.title,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.duration,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.NRP,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.legal_remit,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.ethical_animal,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.ethical_human,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.location,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.co_applicants,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.collaborators,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.scientific_abstract,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">

          {{ render_field(form.lay_abstract,class="col-lg-6") }}

      </div>

      <div class="form-group col-lg-12">
          <b>{{ form.proposalPDF.label }}</b><br>
          {{form.proposalPDF}}

      </div>

      <div class="form-group col-lg-12">
          <p><i>Submission of an application confirms acceptance of and agreement with the SFI Terms and Conditions of
              Research Grants; that the applicant meets eligibility requirements; that the project is in full agreement
              with all legal and regulatory matters governing research in Ireland; that no aspect of this project is
              already being funded from another source and that all details provided are correct</i></p>
          <label><b><i>Agree</i></b></label>
          {{ form.declaration }}

      </div >

          <div class="form-group col-lg-4">{{ form.draft }}</div>

          <div class="form-group col-lg-4">{{ form.validate }}</div>

          <div class="form-group col-lg-4">
              {{ form.submit }}
          </div>

     
  </form>
</div>

{% endblock %}